body{
    color:purple;
    box-sizing: border-box;}
    

.ing{
   
   text-align: left;
   font-style: italic;
}

.breding{
    font-style: oblique;
    font-size: medium;
    padding:6px 11px 4px 9px;
}

header{
    border: 3px solid red;
    margin: 5px 10px;
}

main{
    border: 2px solid green;
    margin: 5px 10px;
}

footer{
    margin: auto;
}

header{
    text-align: center;
}
.int{ text-align: left;}
li{
    display: block;
}

h1{ font-size: 50px;}

@media (min-width: 768px) {                                                          
    h1 {                                                                             
        font-size: 60px;                                                             
    }                                                                                
}                                     
@media (min-width: 320px) {                                                          
    h1 {                                                                             
        font-size: 10px;                                                             
    }                                                                                
}       
h1 {                                                                                 
    font-size: 100px;                                                                
}                                   

